.container{
    margin: 0 auto;
    background-color: rgb(255, 198, 220);
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #b7b7b7;
  padding: 24px;
  width: 320px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
}
.closeBtn{
    background-color: rgb(255, 160, 226);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 16px;
    border: 1px solid rgb(255, 103, 103);
}